@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ff0000;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

} */


/* .background{
  background-color: #ffffff;
  border: 1px solid #e9e5e5;
  color: #535351;
} */


:root{
  --color-white:#ffffff;
  --color-border:#e9e5e5;
  --color-primary: #ff0000;
  --color-background:#f8f5f5;
  --color-hover:#efeeed;
  --color-blue:#2563EB;
  --color-text:#535351;
  --color-red: #FF6384;
  --color-orange:#FF9F40;
  --color-gray:#C9CBCF;
  --color-green:#20a614;

}

[data-theme="dark"] {
  --color-darks: #0F172A; 
  --color-Dborder: #5C6777; 
  --color-Dprimary: #ff4d4d; 
  --color-Dbackground: #020617; 
  --color-Dhover: #2563EB; 
  --color-Dtext: #F8FAFC; 
  --color-Dred: #ff4c66; 
  --color-Dorange: #ff8c3e; 
  --color-Dgray: #8b8b8b; 
  
}

.co{
  color: #f724242b;
}

.custom-style{
  color: #f86e8c54;
}


@theme {
  --color-white:#ffffff;
  --color-border:#e9e5e5;
  --color-primary: #ff0000;
  --color-background:#f8f5f5;
  --color-hover:#efeeed;
  --color-text:#535351;
  --color-red: #FF6384;
  --color-orange:#FF9F40;
  --color-gray:#C9CBCF;
  --color-green:#5af75a;
  --color-blue:#2563EB;
  --color-green:#20a614;
  /* DarkMode */
  --color-Dwhite: #0F172A; 
  --color-Dborder: #5C6777; 
  --color-Dprimary: #ff4d4d; 
  --color-Dbackground: #020617; 
  --color-Dhover: #2563EB; 
  --color-Dtext: #F8FAFC; 
  --color-Dred: #ff4c66; 
  --color-Dorange: #ff8c3e; 
  --color-Dgray: #8b8b8b; 
  --color-blue:#2563EB;
  --color-green:#20a614;
  /* breakpoint */
  --breakpoint-xxs: 330px;
  --breakpoint-xs: 370px;
  --breakpoint-sm: 400px;
  --breakpoint-mdsm: 500px;
  --breakpoint-md: 640px;
  --breakpoint-mdlg: 768px;
  --breakpoint-lg: 900px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px;
  --font-poppins: ["Poppins", "sans-serif"],
  
}


